@using Applicazioni.Models;

    <div>
        <table id="grigliaRisultati" class="table table-condensed table-hover">
            <thead style="background-color:aliceblue">
                <tr>
                    <th width="15%">Barcode</th>
                    <th width="35%">Nummovfase</th>
                    

                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="overflow-y:auto; overflow-x:hidden; height:600px">
        <table id="grigliaRisultati" class="table table-condensed table-hover">
            <tbody>
                    <tr>
                        <td width="15%">@Model.Barcode</td>
                        <td width="35%">@Model.Nummovfase</td>
                       
                        <td></td>
                    </tr>

            </tbody>
        </table>
    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   


