

<div class="content-top">


    <div class="col-sm-1">
        <label>Barcode</label>
        <input type="text" id="txtBarcode" />
    </div>

    <div class="col-sm-12">
        <div id="divScheda">
            <label for="tic">In trasferimento</label>
            <input type="color" id="tic" value="#06E50D">
            <table id="bctable">
                <thead>
                    <tr>

                        <th width="20%">Barcode</th>
                        <th width="20%">Odl</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>



            </table>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {

        $("#txtBarcode").focus();
        $("#txtBarcode").change(function ()
        {

            var barcode = $(this).val();
            if (barcode != '')
            {
                $(this).val('');
                $(this).focus();

                CaricaScheda(barcode);
                $("#txtBarcode").focus();
            }
        });
    });

    function VerificaBarcodeLetto(barcode)
    {
        debugger;
        var tds = $('.clsBarcode');
        if (tds.length == 0) return true;

        for (i = 0; i < tds.length;i++)
        {
            if (tds[i].textContent == barcode)
            {
                alert("Barcode già letto");
                //<label for="bgl"> Barcode già letto </label>
                //    <input type="text" value="#E51506">
                return false;
            }
        }
        return true;
    }

    function VerificaBarcodeOperatore(barcode)
    {
        if (barcode.substring(0, 2) == "RSF") return true;
        return false;
    }



    function CaricaScheda(barcode)
    {

        if (VerificaBarcodeOperatore(barcode))
        {
            debugger;
            var odl = [];
            var tds = $('.clsBarcode');
            if (tds.length == 0) return true;

            for (i = 0; i < tds.length; i++)
                odl.push(tds[i].textContent);

            var odlJSON = JSON.stringify(odl);



        var url = '@Url.Action("SalvaTrasferimento", "Home")';
        $.ajax({

            url: url,

            data: {
                Barcode: barcode,
                OdlJSON: odlJSON
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                if (data == 'OPERATORENONVALIDO') {
                    ALERT('oPERATORE NON VALIDO PER IL TRASFERIMENTO');
                    return;
                }

                if (data == 'OK') {
                    alert('trasferimento salvato');
                
                
                    function Svuotatabella (barcode)
                  //$('#bctable')

                }

                $("#txtBarcode").focus();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });            return;
        }

        if (!VerificaBarcodeLetto(barcode)) return;

        var url = '@Url.Action("CaricaScheda", "Home")';
        $.ajax({

            url: url,

            data: { Barcode: barcode },
            cache: false,
            type: "POST",
            success: function (data)


            {
<<<<<<< HEAD
                debugger;
                var riga = "<tr><td class ='clsBarcode'>" + data.Barcode+"</td><td>" + data.Nummovfase + "</td></tr>";
=======
                
                var riga = "<tr><td>" + data.Barcode+"</td><td>" + data.Nummovfase + "</td></tr>";
>>>>>>> c9ef8b2866c97a168df1989d573b16d44d436304

            $('#bctable tr:last').after(riga);

                $("#txtBarcode").focus();
             //   $('#divScheda').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function Annulla()
    {
        $('#divScheda').html('').show();
        $('#txtBarcode').focus();
    }

    function Salva()
    {

        var barcode = $('#hdBarcode').val();
        var IDCHECKQT = $('#hdIDCHECKQT').val();
        var difettosi =$('#hdQtaDifettosa').val();
        var inseriti = $('#txtQuantita').val();
        var lavorante = $('#ddlLavoranti').val();
        var nota = $('#txtNota').val();
        var azienda = $('#hdAzienda').val();

        var esito = true;
        var messaggio = '';

        if(inseriti =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Quantità" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }

        if(inseriti =='0' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Quantità non può essere 0" + "</br>";
        }

        if(lavorante ==null || lavorante =='' )
        {
            esito=false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Lavorante esterno" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
        }
        $('#lblMessage').html(messaggio);
        if(!esito) return;

        var checked_DEF = $('#CHKDEFINITIVO').prop('checked');
        var checked_GRA = $('#CHECKGRATUTITA').prop('checked');
        var ODL = $('#hfODL').val();

        var url = '@Url.Action("SalvaInserimento", "Home")';
        $.ajax({
            url: url,
            data: {
                Azienda:azienda,
                Barcode: barcode,
                IDCHECKQT:IDCHECKQT,
                Difettosi:difettosi,
                Inseriti:inseriti,
                Lavorante:lavorante,
                Nota: nota,
                ScartoDefinitivo: checked_DEF,
                RiparazioneGratuita: checked_GRA,
                ODL: ODL
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                var label = '<label class="text-red input-sm" id="lblMessage">DATI INSERITI</label>';
                $('#divScheda').html(label).show();
                $('#txtBarcode').focus();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
        $('#txtBarcode').focus();
    }

</script>