

<div class="content-top">
    <div class="row">
        <div class="col-sm-1">
            <input type="button" onclick="Cancella();" class="btn btn-primary" value="Cancella" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <label>Barcode Operatore</label>
            <input class="form-control input-sm" type="text" id="txtBarcodeOperatore" maxlength="13" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Barcode ODL</label>
            <input class="form-control input-sm" type="text" id="txtBarcodeODL" maxlength="13" />
        </div>
        <div class="col-sm-1">
            <input type="button" onclick="Leggi(1);" class="btn btn-primary" value="Leggi" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="divArticolo">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Barcode Ubicazione</label>
            <input class="form-control input-sm" type="text" id="txtBarcodeUbicazione" maxlength="13" />
        </div>
        <div class="col-sm-1">
            <input type="button" onclick="Leggi(2);" class="btn btn-primary" value="Leggi" />
        </div>
    </div>
    <div class="row">
        <div id="divUbicazione">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <input type="button" onclick="Conferma();" class="btn btn-primary" value="Conferma" />
        </div>

    </div>
    <div class="row">
        <div id="divEsito">
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        debugger;
        $("#txtBarcodeODL").focus();
    });

    function Cancella() {
        $('#divUbicazione').html('').show();
        $('#divArticolo').html('').show();
        $('#divEsito').html('').show();
        $("#txtBarcodeODL").val('');
        $("#txtBarcodeUbicazione").val('');
        $("#txtBarcodeODL").focus();
    }

    function Leggi(tipo) {
        var url = '@Url.Action("LeggiBarcode", "Spedizioni")';
        var barcode = '';
        if (tipo == 1) {
            barcode = $("#txtBarcodeODL").val();
            if (barcode == '') return;

            $.ajax({
                url: url,
                data: {
                    Barcode: barcode
                },
                cache: false,
                type: "POST",
                success: function (data)
                {
                    $('#divArticolo').html(data).show();
                    $("#txtBarcodeUbicazione").focus();
                    $('#divUbicazione').html('').show();
                    $('#divEsito').html('').show();
                },
                error: function (response)
                {
                    document.open();
                    document.write(response.responseText);
                    document.close();
                }
            });
        }

            barcode = $("#txtBarcodeUbicazione").val();
        if (barcode == '') return;
        $.ajax({
            url: url,
            data: {
                Barcode: barcode
            },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#divUbicazione').html(data).show();
                $('#divEsito').html('').show();

            },
            error: function (response) {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });

    }

    function Conferma() {
        var barcodeODL = $("#txtBarcodeODL").val();
        var barcodeUbicazione = $("#txtBarcodeUbicazione").val();
        var barcodeOperatore = $("#txtBarcodeOperatore").val();

        if (barcodeODL == '' || barcodeUbicazione == '') {
            alert('Barcode vuoti');
            return;
        }

        if (barcodeOperatore == '' || barcodeOperatore == null) {
            alert('Barcode operatore vuoto');
            return;
        }

         var url = '@Url.Action("Inserisci", "Spedizioni")';

        $.ajax({
            url: url,
            data: {
                BarcodeODL: barcodeODL,
                BarcodeUbicazione: barcodeUbicazione,
                BarcodeOperatore: barcodeOperatore
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                Cancella();
                $('#divEsito').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>
